mixin block_with_img(gl_class, item)
	- url = item.src || '#'
	if (item.title)
		a(class= `${gl_class}__title_link` href= url)= item.title
			
	if (item.img)
		a(class= `${gl_class}__image_link` href= url)
			div(class= `${gl_class}__image_box`)
				img(class= `${gl_class}__image` src= item.img, alt= '')


mixin block_with_img_list(gl_class, data)
	- gl_class = gl_class ? gl_class : ''
	- local_class = 'block'
	ul(class= `${gl_class} ${gl_class}__list`)
		each elem in data
			li(class= `${local_class} ${local_class}__item`)
				+block_with_img(`${local_class}_img`, elem)
