mixin image_box(data)
	div(class= `${data.gl_class}_box`)
		img(src= data.src alt= data.alt || '')


mixin tagList(tagList)
	dl(class=`${tagList.gl_class}__tag-list `)
		dt(class= `${tagList.gl_class}__tag-label ${tagList.active ? `${tagList.gl_class}__tag-label--active` : ''}`)= tagList.label
		each item in tagList.items
			- url = item.url || '#'
			dd(class= `${tagList.gl_class}__tag-item `)
				a(href= url class= `${tagList.gl_class}__tag-link ${item.active ? `${tagList.gl_class}__tag-link--active` : ''}`)= item.title


mixin posts(post)
	- url = post.url ? post.url : '#'
	li(class= `${post.gl_class}__item`)
		div(class= `${post.gl_class}__img-box`)
			a(class= `${post.al_class}__link` href= url): img(src= `${post.img}` alt='')
		div(class= `${post.gl_class}__description`)
			h2(class= `${post.gl_class}__title`)
				a(class= `${post.al_class}__link` href= url)= post.title
			div(class= `${post.gl_class}__athror`)= post.author_name
				span(class= `${post.gl_class}__athror-date`)= post.author_date
			div(class= `${post.gl_class}__tags`)= post.tags
			div(class= `${post.gl_class}__comments`) 
				span(class= `${post.gl_class}__count-comments`)= post.comments_count
				span(class= `${post.gl_class}__icon-conmments`): img(src= post.comments_icon alt= ' ')


mixin article_sidebar(data)
	article(class= `${data.gl_class}__article`)
		if (data.icon || data.title)
			.article__title-box
				if (data.icon)
					+image_box({ gl_class: 'article', src: `${data.icon}` })
				if (data.title)
					h3.article__title= data.title
		
		if (data.items)
			ul.article__list
				each item in data.items 
					li.article__item= item.label
		else if (data.img)
			+image_box({ gl_class: 'article', src: `${data.img}` })

mixin blog_list(data)
	ul(class= `${data.gl_class}__blog-list`)
		each blog in data.items
			li
				article(class= `${data.gl_class}__blog-item`)
					if (blog.icon || blog.title)
						.blog-item__title-box
							if (blog.icon)
								+image_box({ gl_class: 'blog-item__title-icon', src: `${blog.icon}` })
							if (blog.title)
								h3.blog-item__title= blog.title
					
					if (blog.items)
						ul.blog-item__list
							each elem in blog.items 
								- url = elem.src || '#'
								li.blog-item__item
									a(class="blog-item__link" href= url)= elem.label
					

mixin blog_image(data)
	ul(class= `${data.gl_class}__blog_img_list`)
		each blog in data.items
			- url = data.src || '#'
			li 
				figure(class= `${data.gl_class}__blog_img_item`)
					a(class= `${data.gl_class}__blog_img_link` href= url)
						figcaption(class= `${data.gl_class}__blog_img_title`)= blog.title
						if (blog.img)
							+image_box({ gl_class: 'blog-item__image', src: `${blog.img}` })