//- list with different links and fonts
mixin heapLinks(linksList)
  ul(class= `${linksList.gl_class}__list`)
    each item in linksList.items
      - src = item.url ? item.url : linksList.base_url ? linksList.base_url : '#' 
      li(class= `${linksList.gl_class}__item`)
        +itemLink(linksList.gl_class, item, src)



mixin itemLink(gl_class, item, base_link)
  - src = base_link + item.word
  case item.style
    when 0
      a(class= `${gl_class}__link` style= { 'font-size': '1.2rem', 'font-weight': '400', color: '#969696' } href= src)= item.word
    when 1
      a(class= `${gl_class}__link` style= { 'font-size': '1.4rem', 'font-weight': '400', color: '#757575' } href= src)= item.word
    when 2
      a(class= `${gl_class}__link` style= { 'font-size': '1.6rem', 'font-weight': '400', color: '#535353' } href= src)= item.word
    when 3
      a(class= `${gl_class}__link` style= { 'font-size': '2rem', 'font-weight': '400', color: '#353535' } href= src)= item.word
    when 4
      a(class= `${gl_class}__link` style= { 'font-size': '2.2rem', 'font-weight': '400', color: '#242424' } href= src)= item.word
    when 5
      a(class= `${gl_class}__link` style= { 'font-size': '2.4rem', 'font-weight': '400', color: '#111111' } href= src)= item.word
    default 
      a(class= `${gl_class}__link` style= { 'font-size': '1.2rem', 'font-weight': '400', color: '#111111' } href= src)= item.word

