mixin block_with_img(gl_class, item)
	- url = item.src || '#'
	div(class= `${gl_class}__item`)
		if (item.title)
			a(class= `${gl_class}__title_link` href= url)= item.title
				
		if (item.img)
			a(class= `${gl_class}__image_link` href= url)
				div(class= `${gl_class}__image_box`)
					img(class= `${gl_class}__image` src= item.img, alt= '')


mixin block_with_img_list(data)
	- class_name = 'block_img'
	ul(class= `${class_name}__list`)
		each elem in data
			li
				+block_with_img(class_name, elem)