
mixin post(class_name, post)
	- gl_class = class_name ? class_name : 'posts'
	- url = post.url ? post.url : '#'
	li(class= `${gl_class}__item`)
		div(class= `${gl_class}__img-box`)
			a(class= `${al_class}__link` href= url): img(src= `${post.img}` alt='')
		div(class= `${gl_class}__description`)
			h2(class= `${gl_class}__title`)
				a(class= `${al_class}__link` href= url)= post.title
			div(class= `${gl_class}__athror`)= post.author_name
				span(class= `${gl_class}__athror-date`)= post.author_date
			div(class= `${gl_class}__tags`)= post.tags
			div(class= `${gl_class}__comments`) 
				span(class= `${gl_class}__count-comments`)= post.comments_count
				span(class= `${gl_class}__icon-conmments`): img(src= post.comments_icon alt= ' ')


mixin posts(items)
	- gl_class = 'post'
	ul(class= `${gl_class}__list`)
		each item in items
			+post(gl_class, item)
			