mixin image_box(data)
	div(class= `${data.gl_class}_box`)
		img(src= data.src alt= data.alt || '')


mixin tagList(tagList)
	dl(class=`${tagList.gl_class}__tag-list `)
		dt(class= `${tagList.gl_class}__tag-label ${tagList.active ? `${tagList.gl_class}__tag-label--active` : ''}`)= tagList.label
		each item in tagList.items
			- url = item.url || '#'
			dd(class= `${tagList.gl_class}__tag-item `)
				a(href= url class= `${tagList.gl_class}__tag-link ${item.active ? `${tagList.gl_class}__tag-link--active` : ''}`)= item.title


